* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700px;
  font-size: 12px;
}

p {
  font-size: 17px;
  color: black;
  margin: 15px 0 20px 0;
}

.logo {
  display: block;
}

.logo > a > img {
  width: 72px;
  mix-blend-mode: darken;
}

.ham {
  position: absolute;
  left: 40px;
  top: 30px;
  display: none;
}

#sidebar .close-ham {
  position: absolute;
  left: 9px;
  top: 18px;
  cursor: pointer;
  display: none;

  & .close-close {
    font-size: 2rem;
    font-weight: 900;
    display: none;
  }
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: rgb(196, 166, 143);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.03);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#nav li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#nav li a:hover,
#nav li a.ac {
  color: rgba(255, 81, 0, 0.531);
}

#nav li a.ac::after,
#nav li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: rgb(181, 35, 168);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  background-color: whitesmoke;
  margin: 25px;
  height: 100%;
}

.contact-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 80%;
}

.contact-form h2 {
  color: #333;
  margin-bottom: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.contact-form button {
  background-color: #004080;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0059b3;
}

.contact-form .thanks-message {
  margin-top: 10px;
  color: #333;
  font-size: 0.9em;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

#side-bar .close-ham {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}

#side-bar .close-ham .close-close {
  font-size: large;
  font-weight: bolder;
}

#side-bar {
  background-color: rgb(163, 134, 112);
  position: absolute;
  z-index: 1;
  height: 146%;
  width: 150px;
  display: none;
}

#side-bar ul {
  height: 120px;
  padding-top: 2rem;
}

#side-bar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  height: 100%;
}

#side-bar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#side-bar li a.ac::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: rgb(181, 35, 168);
  position: absolute;
  top: 18px;
  left: 20px;
}

footer {
  overflow: hidden;
  height: 123px;
  width: 100%;
  text-align: center;
  padding: 3px;
  background-color: rgb(111, 108, 107);
  color: white;
  position: absolute;
}

#apple,
#twitter,
#github,
#facebook {
  font-size: 1em;
  background-color: #18191f;
  color: white;
  border-radius: 29px;
  padding: 11px 19px;
}

p {
  font-family: sans-serif;
  font-size: large;
  font-weight: 700;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
  margin-top: 18px;
}

footer .class {
  font-size: 14px;
  line-height: 18px;
  margin: 18px 0;
  resize: none;
}

@media only screen and (max-width: 667px) {
  @media only screen and (max-width: 667px) {
    #nav::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(10px);
    }

    #nav {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 60px;
      position: fixed;
      background: linear-gradient(to bottom, wheat, #f7f7f7, #fff, wheat);
      height: 100%;
      width: 230px;
      right: 0px;
      top: 0px;
      padding: 60px 0;
      display: none;
      opacity: 1.2;
    }

    #nav li {
      list-style: none;
      position: relative;
      display: inline-block;
    }

    .ham {
      display: block;
      cursor: pointer;
    }

    .mo-box {
      display: none;
    }

    .section-p1 {
      padding: 0px 0px;
    }

    #sidebar .close-ham {
      position: absolute;
      left: 9px;
      top: 18px;
      cursor: pointer;
      display: block;

      & .close-close {
        font-size: 2rem;
        font-weight: 900;
        display: block;
      }
    }
  }
}

@media (width<1128px) {
  main {
    display: grid;
    align-content: center;
    justify-items: center;
    row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .contact-form {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 50%;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  iframe {
    max-height: 300px;
    max-width: 250px;
  }
}

@media (width<737px) {
  .contact-form {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 100%;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    gap: 4px;
  }
}

@media (width<370px) {
  iframe {
    height: 150px;
    width: 150px;
  }

  .contact-form h2 {
    color: #333;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 23px;
    /* line-height: 54px; */
    color: #222;
  }
}
